// out: style.css, compress: true

light-background = rgba(34, 194, 255, 0.08)
light-text = rgba(53, 92, 111, 0.89)
bright-blue = #8c9c9c
ui-red = #be2222
darker-blue-background = rgba(26, 170, 171, .22)

module-height = 335px
header-height = 60px
footer-height = 75px
module-width = 400px
grey-text = #969696

#Fat .header
  background-color: #4054B2

#Protein .header
    background-color: #FD704B

#Sugar .header
  background-color: #852269

#Calories .header
  background-color: #617D8A

#SatFat .header
  background-color: #4054B2

#Water .header
  background-color: #E62565

#Sleep .header
  background-color: #159588

body
  font-family: "Noto Sans"
  background-color: rgba(236, 243, 246, 0.25)
  color: black
  position: relative
  margin-left: 100px;
  margin-top: 35px;

.modules-container
  width: 2 * module-width + 100
  position: relative
  margin: 0 auto

h1.name
  color: #3e3e3e
  margin-bottom: 30px
  margin-top: -20px
  font-size: 27px

h1.name, h2
  display: inline-block
  font-weight: normal

h2
  color: #818181
  font-size: 17px
  margin-left: 20px

.module
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

.module:hover
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

.module
  border-radius: 2px
  width: module-width
  height: module-height
  position: relative
  display: inline-block
  vertical-align: top
  margin-right: 25px
  margin-bottom: 31px
  background: white
  padding: 0

  .small-text
    font-size: 13px

  .header, .footer
    color: black

  .header
    background-color: #2b98f0
    height: header-height
    padding-bottom: 20px
    border-radius: 2px 2px 0px 0px
    left-margin = 20px
    color: white
    h1
      padding-left: left-margin
      padding-top: 13px
      font-size: 25px
      margin: 0

    .small-text
      text-transform: uppercase
      font-size: 12px
      padding-left: left-margin
      margin-top: 0px
      padding-top: 3px

  .footer
    position: absolute
    width: 100%
    bottom: 0;
    height: footer-height
    color: grey-text
    font-size: 15px
    border-top: .5px solid #b4b4b4

    .container
      left-padding = 31px
      width: (module-width * .33) - left-padding !important
      display: inline-block
      font-size: 20px
      color: #464646
      margin-top: 12px
      padding-left: left-padding
      .label
        font-size: 14px
        color: grey-text

@media screen and (min-width: 3 * module-width + 200)
  .modules-container
    width: (module-width * 3) + 100px

switch-point = 200

@media screen and (max-width: 2 * module-width + switch-point)
  .modules-container
    width: module-width + 50px

@media screen and (max-width: 2 * module-width + (switch-point - 1))
  h1.name
    margin-left: 30px
  body
    margin-left: 0px
  .modules-container
    width: 100%
  .module
    width: 90%
    display: block
    margin-left: auto
    margin-right: auto

.chart
  height: module-height - header-height - footer-height - 45
  margin: 0 auto
  margin-top: 7px
  width: 95%

.ct-line, .ct-point
  stroke: grey-text !important

.ct-line
  stroke-width: 2px !important

.ct-point
  stroke-width: 7px !important

.ct-label
  color: grey-text !important

.ct-grids *
  stroke: none !important
  stroke-dasharray: 0px !important
